/*
CSS file for TROA Website
Written by Dakota/Dxsynced
*/

html {
  background-color: lightslategray;
  font-family: Arial, Helvetica, sans-serif;
}


body {
  font-family: Arial, Helvetica, sans-serif;
}

footer {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

ul {
  list-style: none;
}
